{:aliases {:test {:extra-deps  {org.slf4j/slf4j-nop {:mvn/version "2.0.18"}}
                  :extra-paths ["test"]}}
 :deps    {metosin/malli {:mvn/version "0.20.1"}}
 :paths   ["src" "resources"]}
